.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 30px;
    height: 30px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d3748;
}

.login-btn {
    text-decoration: none;
    /* background-color: black; */
    width: 100px;
    height: 100px;
}

.login-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.login-icon:hover {
    transform: scale(1.1);
}

.icon-wrapper {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background: rgb(58, 63, 199);
  border: 1px solid #859859;
  padding: 5px 10px;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(169, 9, 9, 0.477);
}

.dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
}
